@use 'sass:map';
@use '../abstracts' as *;

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--spacing-md);

  @include respond-above('tablet') {
    max-width: map.get($breakpoints, 'tablet');
    padding-inline: var(--spacing-lg);
  }

  @include respond-above('desktop') {
    max-width: map.get($breakpoints, 'desktop');
  }

  @include respond-above('wide') {
    max-width: map.get($breakpoints, 'wide');
  }
}
